<div class="archive-container">
  <% let lastYear; %>
  <% page.posts.each(function(post){ %>
    <% const year = date(post.date, 'YYYY'); %>
    <% if (lastYear !== year){ %>
      <% if (lastYear !== undefined){ %>
        </div>
      <% } %>
      <h2 class="archive-year"><%= year %></h2>
      <div class="archive-list">
      <% lastYear = year; %>
    <% } %>
    <article class="archive-item">
      <span class="archive-date"><%= date(post.date, 'MM-DD') %></span>
      <a href="<%- url_for(post.path) %>" class="archive-title"><%= post.title %></a>
    </article>
  <% }) %>
  </div>
</div>