<div class="service-page">
  <div class="service-header">
    <h1 class="service-title"><%= page.title %></h1>
  </div>
  
  <div class="service-content">
    <%- page.content %>
  </div>
  
  <div class="service-cta">
    <a href="/contact" class="cta-button">Get in Touch</a>
  </div>
</div>